# Auto detect text files and perform LF normalization
* text=auto


# Preserve GCX CSV bytes exactly as written
"GCX Fixes/**/*.csv" -text

"SDT Fixes/Script CSVs/**/*.csv" text eol=lf
"Dumped Strings/*.xml" text eol=lf
"Dumped Strings/*.json" text eol=lf
