[submodule "external/MGS3-PS2-Textures"]
	path = external/MGS3-PS2-Textures
	url = https://github.com/dotlessone/MGS3-PS2-Textures
[submodule "external/SDT-Tools"]
	path = external/SDT-Tools
	url = https://github.com/abuali129/SDT-Tools
[submodule "external/mgs_gcx_editor"]
	path = external/mgs_gcx_editor
	url = https://github.com/Giza/mgs_gcx_editor
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/inipp"]
	path = external/inipp
	url = https://github.com/mcmtroffaes/inipp
